@page
@model RazorPageHotel.Pages.Hotels.UpdateHotelModel
@{
}



<h2>Update Hotel</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.newHotel.Navn"></label>
        <input asp-for="@Model.newHotel.Navn" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.newHotel.Adresse"></label>
        <input asp-for="@Model.newHotel.Adresse" />
    </div>
    <div>
        <input type="hidden" name="updateId" value="@Model.hotelNumber" />
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>