@page
@model RazorPageHotel.Pages.Rooms.CreateModel
@{
}


<h2>Update Room</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.newRoom.RoomNr"></label>
        <input asp-for="@Model.newRoom.RoomNr" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.newRoom.Pris"></label>
        <input asp-for="@Model.newRoom.Pris" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.newRoom.Types"></label>
        <select asp-for="@Model.newRoom.Types">
            <option value="D">D</option>
            <option value="S">S</option>
            <option value="F">F</option>
        </select>
    </div>
    <input type="hidden" asp-for="@Model.newRoom.HotelNr" value="@Model.hotelNumber" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>